@media (max-width: 576px) { 
    .section-2-wrapper .col-container{
         flex-direction: column;
    }
    .section-2-wrapper .col-50{
         width: 100%;
         justify-content: center;
    }
    .section-2-wrapper .main-text {
        margin: 0px 0;
        padding-top: 50px;
        text-align: center;
    }
    .burger {
        width: 80%;
        margin: 48px 0;
    }
    .circles {
        padding: 0px 0 90px;
    }
   footer .col-60{
    flex-wrap: wrap;
    justify-content: center;
   }
   div[class*="anchor"] {
    margin-top: 40px;
   }
   .email-sub {
    width: 73%;
   
}
    
}